body {
    background-color: var(--background-color-main);
}

.social-login img {
    width: 24px;
}

a {
    text-decoration: none;
    color: var(--a-color);
}

.card {
    font-family: sans-serif;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 10px;
    background-color: var(--card-color);
    padding: 1.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    text-align: center;
    font-weight: bold;
}

.btn-text {
    margin: 0;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.google-btn {
    background: var(--social-login-color);
    border: solid 2px var(--social-login-border-color);
    color: var(--social-login-text-color);
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    padding: 10px 10px;
    flex: auto;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.or {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid var(--or-border-color);
    line-height: 0.1em;
    margin: 25px 0;
}

.or span {
    color: var(--or-color);
    background: var(--or-background);
    padding: 0 10px;
}

.email-login {
    display: flex;
    flex-direction: column;
}

.email-login label {
    color: rgb(170 166 166);
}

input[type="text"],
input[type="password"] {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.cta-btn {
    background-color: rgb(69, 69, 185);
    color: white;
    padding: 18px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.forget-pass {
    text-align: center;
    display: block;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.icon-pass {
    padding: 10px;
    min-width: 40px;
}

.eye::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/></svg>');
}

.remeber-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: scale(2);
    margin-right: 11px;
}
